.presentation{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;

  &::before{
    content: "";
    position: absolute;
    background-color: #ffffff;
    background-image: url(../img/index-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -5;
    width: 100%;
    min-height: 305px;
  }

  &__title{
    font-size: 36px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
  }

  &__slogan{
    font-size: 14px;
    line-height: 1em;
    text-align: center;
  }
}
