.socials {
  .socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .socials__item {
    margin-right: 35px;
  }

  .socials__item:last-child {
    margin-right: 0;
  }

  .socials__link {
    display: block;
    width: 22px;
    height: 20px;
    max-width: 100%;
    min-height: 100%;

    &:hover {
      fill: @color-green;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__link--vk svg {
    width: 22px;
    height: 12px;
  }

  &__link--insta svg {
    width: 16px;
    height: 16px;
  }

  &__link--facebook svg {
    width: 10px;
    height: 19px;
  }
}
