.title-h2 {
  padding: 0;
  margin: 30px 0;
  font-size: 36px;
  line-height: 1.67em;
  font-weight: normal;
  color: @dark-grey;
}

.paragraph {
  font-size: 14px;
  line-height: 1.3em;
  color: #444444;
}
